#topbar{
			
				width:1230px;
				margin:auto;
				height:40px;
			}
			
			body{
			
				margin :0px;
				padding: 0px;
				font-family:Helvetica, Arial, freesans, sans-serif;
			
			}
			
			#logo {
			
				margin-top:6px;
				width:100px;
				float:left;		
				margin-right:10px;
			}
			
			#signId{
			
				font-weight:bold;
				font-size:75%;
				position:relative;
				top:15px;
				padding-right:50px;
				float:left;
							
			}
			
			#top-all{
			
				font-weight:bold;
				font-size:75%;
				position:relative;
				margin:15px 20px 15px 20px;
				float:left;
							
			}
			
			.top-section{
			
				float:left;
				border-left: 1px #CCCCCC solid;
				height:40px;
			
			}
			
			#sign{
			
				margin:6px 10px;
				float:left;
			
			}
			
			#ar{
			
				width:8px;
				margin:18px 10px;
				padding-left:10px;
				float:left;
			
			}
			
			#search-box{
				float:left;
				background-color:#E4E4E4;
				border:none;
				margin-top:7px;
				margin-left:15px;
				font-size:14px;
				font-weight:bold;
				padding:5px;
			}
			
			#sear{
			
				float:left;
				height:27px;
				margin-top:7px;
				margin-left:1px;
				
			
			}
			
			.clear{
			
				clear:both;
			
			}
		
			#menu-bar{
			
				width:100%;
				background-color:#BB1919;
				
			}
			
			#menu{
			 
				width:1230px;
				margin:auto;
				height:60px;
				
			 }
			 
			h1{
			
				padding:0;
				margin:0;
				color:white;
				font-weight:normal;
				font-size:40px;
				padding-top:10px;
			} 
			
			#menu-bar2{
			
				width:100%;
				background-color:#BB1919;
				
			}
			
			#menu2{
			 
				width:1230px;
				margin:auto;
				height:40px;
			}
			
			#menu2 a{
			
				float:left;
				color:white;
				text-decoration:none;
				padding:0 15px;
				border-right:1px #BB454F solid;
				font-size:13px;
				position:relative;
				top:9px;
			
			}
			
			#menu2 a:hover{
			
				text-decoration:underline;
			
			}
			
			.no-border{
			
				border:none !important;
			
			}
			
			#arr{
				
				width:8px;
				margin:14px 0px;
				float:left;
				
			}
			
			
			
			#main-article{
			
				width:100%;
				
			}
			
			#page{
			 
				width:1230px;
				margin: 0 auto;
			}
			
			#content{
			
				float:left;
				width:300px;
			
			}
			#pic{
					float:left;
					width:auto;
					height:auto;
			}
			
			#radio{
				
				float:left;
				margin:0px 5px 0px 10px ;
				
			}
			
			p{
			
				color:grey;				
				margin-top:0;
				padding-left:20px;	
				font-size:90%
				float:left;
			
			}
			
			h2{
			
				font-weight:normal;
				margin-top:20px;
				font-size:20px;
				border-bottom: 2px #BB1919 solid;
				width:45px;
			
			}
			
			#red{
			
				color:#BB1919;
			
			}
				
			h3{
			
				font-weight:bold;
				font-size:28px;		
				margin-top:0;
				padding-left:20px;
			}
			
			#add{
			
				width:100%;
			}
			
			#ad1{
			
				display: block;
				margin: 10px auto;
				
			}
			
			#ad2{
				
				float:right;
			
			}
			
			#clk{
				
				margin: 0 5px 0 15px ;
				float:left;
			
			}
			
			#p1{
			
				margin-top:0;
				padding:0 15px 0 0;	
				font-size:80%;
				float:left;
			}
			#b{
				
				border-left:1px grey solid;
				padding:0 5px;	
				font-color:#BB454F;
			
			}
			
			#h3_1{
			
				text-decoration:none;
				color:grey;
			
			}
			
			#h3_1:hover{
			
				text-decoration:underline;				
				color:#1380A1;
			
			}